.post-list {
  padding: 0;

  .post-item {
    margin-bottom: 1rem;
    margin-left: 0;
    list-style-type: none;

    .meta {
      display: block;
      margin-right: 16px;
      min-width: 100px;
      color: $color-meta;
      font-size: 14px;
    }
  }
}
@media (min-width: $mobile-max-width) {
  .post-list {
    .post-item {
      display: flex;
      margin-bottom: 5px;

      .meta {
        text-align: left;
      }
    }
  }
}
.project-list {
  
  list-style: none;

  li
  {
    margin-bottom: 1.5em;
  }

  .project-item {
    position: relative;
    width: 100%;
  }

  .project-img
  {
    /* darkn imagen*/
    filter: brightness(50%);
    width: 100%;
  }
  .project-img:hover
  {
    filter: brightness(70%);
  }

  .project-label
  {
    position: absolute;
    bottom: 10%;
    left: .5em;

    font-family: "Inter";
    font-weight: bolder;
    font-size: 2em;

    color: $color-link-darkbg;
  }

  .project-at-a-glance
  {
    margin-bottom: 0.2em;
  }

  .project-skill
  {
    background: rgba(0,0,0, 0.1);
    border-radius: 5px;
    padding: 0.2em;
  }

  .project-contribution
  {
    font-weight: 300;
  }

  a
  {
    background-image: none;
  }
}

@media (max-width: $mobile-max-width) {
.project-list {
    .project-label {
      font-size: 1em;
    }
}
}

#about, #writing, #projects
{
  > *
  {
    margin-top: 1rem;
  }

  > *:first-child
  {
    margin-top: 0;
  }
}

#writing, #projects
{
  ul
  {    
    padding-left: 0;
  }
}

.body-nav a
{
  font-size: .8em;
  color: #004E7A;
}
