#mobile-nav
{
    display: none;

    .icon
    {
        position: absolute;
        top: 3.5em;
        right: 2rem;
        display: inline-block;
        font-size: 12.8px;
        text-decoration: none;
    }

    #footer
    {
        position: absolute;
    }

    .footer-menu
    {
        ul
        {
            display: none;
        }
    }

    ul.options
    {
        margin: 0;
        padding: 0;
        margin-top: 4em;
        margin-right: 2rem;
        list-style-type: none;
        line-height: 3em;
        text-align: right;
    }
}