<footer id="footer">
  <div class="footer-copyright">
    Copyright  &copy; {{ now.Format "2006" }} {{ if .Site.Copyright }} {{ print .Site.Copyright | markdownify }} {{ else }} {{ print .Site.Title }} {{ end }} {{ if .Site.Params.noticesSection }} | <a href="{{ .Site.Params.noticesSection | absURL }}" >{{ .Site.Params.noticesSectionTitle | default "NOTICES" }}</a> {{ end }}
  </div>
  <div class="footer-menu">
    <nav>
      <ul>
        {{ range .Site.Menus.main }} 
        <li><a href="{{ .URL }}">{{ .Name }}</a></li>
        {{ end }}
        {{ with .OutputFormats.Get "rss" -}}
        {{ printf `
        <li>
        <a rel="%s"
           href="%s"/>RSS</a>` .Rel .Permalink | safeHTML }}
        </li>
        {{ end -}}
      </ul>
    </nav>
  </div>
</footer>
